# Python
__pycache__/
*.py[cod]
*$py.class
*.env
.venv/
env/
venv/

# Testing & Cache
.pytest_cache/

# App dynamic runtime data
uploads/
smtp_saved_config.json
data/*.db
*.db


# IDE
.vscode/
.idea/
